# Exclude everything
**

# Include README.md, CHANGELOG.md and LICENSE
!README.md
!CHANGELOG.md
!LICENSE

# Include package.json
!package.json
!package.nls.*

# Include the built extension
!dist

# Include icons and images
!assets/icons/icon.png
